body{
    background: rgb(143,0,10);
background: linear-gradient(0deg, rgba(143,0,10,1) 0%, rgba(0,0,0,1) 77%);
}
.containerForm{
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}